#border {
    //border: 2px solid red;
    height: 200px;
    width: 100%;
}
textarea {
    height: 100%;
    width: 100%;
    //border: 0px;
}

.counter {
  margin: 0;
}

.title {
  float: left;
  overflow: hidden;
}

.value {
  overflow: hidden;
}

.hl {
  background-color: #FFFF00
}
